.Send-mess {
  background-color: #484373;
  display: flex;
  width: fit-content;
  width: 25em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.Send-mess img {
  width: 35px;
  height: 35px;
  align-self: center;
  margin-right: 0.75em;
}

.Send-mess input {
  width: 25em;
  font-size: 1em;
  font-family: "Poppins";
  color: white;
  border: none;
}

.Send-mess input::placeholder {
  font-size: 1.15em;
  font-family: "Poppins";
  color: white;
}

.Send-mess input:focus {
  border: none;
  outline: none;
}
