.Send-mess {
  background-color: #484373;
}

.Send-mess input {
  width: 25em;
  font-size: 1em;
  color: white;
  border: none;
  background-color: #484373;
}

.Send-mess input::placeholder {
  font-size: 1.15em;
  color: white;
}

.Send-mess input:focus {
  border: none;
  outline: none;
}

.Messages {
  margin-left: auto;
}

.Message {
  background-color: #484373;
  color: white;
  padding: 0.5em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 20em;
}
