.Searching {
  background-color: #484373;
}

.Searching img {
  width: 25px;
  height: 25px;
  margin-top: 0.75em;
  margin-left: 0.75em;
}

.Searching input {
  font-size: 1em;
  border: none;
  color: white;
  margin-left: 1rem;
}

.Searching input::placeholder {
  font-size: 1.15em;
  font-family: "Poppins";
  color: white;
  margin-left: 0.5rem;
}

.Searching input:focus {
  border: none;
  outline: none;
}

.Message-center {
  font-family: "Poppins";
  color: white;
}

.Message-center h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Pop-mess {
  background-color: #484373;
  width: 25em;
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
  height: 5em;
}

.Pop-mess img {
  margin-right: 0.5em;
  margin-left: -0.5em;
  width: 100px;
}

.Pop-mess div {
  display: flex;
  flex-direction: column;
}

.Pop-mess h3 {
  font-family: "Poppins";
  font-weight: bold;

  font-size: 1.25em;
}

.Pop-mess p {
  font-family: "Poppins";
  margin: 0;

  font-size: 1.05em;
}
