.splashSection {
  color: #e2e8f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  gap: 1rem;
  z-index: 0;
}

.splashLogoContainer {
  height: fit-content;
  width: 20rem;
}

.splashForm,
.splashForm-select {
  display: flex;
  align-items: center;
  background-color: transparent;
  fill: none;
  border: 2px solid #e2e8f0;
  border-radius: 0.5rem;
}

.splashForm-select {
  width: 14.474rem;
}

.generalFocus:focus {
  background-color: #252342;
  color: #e2e8f0;
}

.splashForm:focus,
.splashForm-select:focus {
  background-color: #252342;
  color: #e2e8f0;
  outline: none;
}
.welcomeText h2 {
  text-align: center;
  font-size: 2.5rem;
}

.splashForm svg {
  margin-left: 10px;
  width: 2rem;
  height: 2rem;
}

.welcomeText {
  font-size: 1.2rem;
  text-align: center;
}

.formContainer {
  align-items: center;
}

.splashFormContainer {
  display: flex;
  flex-direction: column;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #e2e8f0;
  background-color: transparent;
}

input[type="email"],
input[type="select"] {
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1rem;
}

input[type="text"] {
  background-color: transparent;
  font-size: 1rem;
}

.spotlight {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/splash/spotlight.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.splashSpotlight {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/splash/spotlight.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

input::placeholder {
  color: #e2e8f0;
  background-color: transparent;
}

input {
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1rem;
}

input[type="password"]::placeholder {
  color: #e2e8f0;
  background-color: transparent;
}

input[type="password"] {
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1rem;
}

input[type="number"] {
  background-color: transparent;
  padding: 0.8rem;
  font-size: 1rem;
}

input[type="number"]::placeholder {
  color: #e2e8f0;
  background-color: transparent;
}

input[type="date"] {
  border: 2px solid white;
  border-radius: 0.5rem;
  width: 14rem;
  height: 3rem;
  background-color: transparent;
  color: #ffffff;
  padding: 0.5rem;
  outline: none;
}

input[type="date"]:focus {
  background-color: #252342;
  color: #e2e8f0;
  border-color: #e2e8f0;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}
